.formContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputEmail {
  width: 252px;
  border-radius: 0.5rem;
  padding: 5px;
  height: 25px;
  border: solid 2px gray;
  text-decoration: none;
  background-color: white;
  appearance: none;
  outline: transparent solid 2px;
}

.inputEmail:hover {
  border: solid 2px blue;
}
.inputEmail:focus {
  border: solid 2px blue;
}

.inputEmail:-webkit-autofill {
  -webkit-box-shadow: 200px 200px 100px white inset;
  box-shadow: 200px 200px 100px white inset;
}

.inputPwContainer {
  display: flex;
  align-content: center;
  height: 37px;
  background: 0% 0%;
}

.inputPassword {
  width: 220px;
  border: solid 2px gray;
  border-radius: 0.5rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  text-decoration: none;
  border-right: none;
  appearance: none;
  outline: transparent solid 2px;
}

.inputPassword:hover {
  border: solid 2px blue;
  border-right: none;
}

.inputPassword:focus {
  border: solid 2px blue;
  border-right: none;
}

.inputPassword:hover + .btnEyeIcon {
  border: solid 2px blue;
  border-left: none;
}
.inputPassword:focus + .btnEyeIcon {
  border: solid 2px blue;
  border-left: none;
}

.inputPassword:-webkit-autofill {
  -webkit-box-shadow: 200px 200px 100px white inset;
  box-shadow: 200px 200px 100px white inset;
}

.btnEyeIcon {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 30px;
  border: solid 2px gray;
  border-left: none;
  padding: 4px;
  text-align: end;
  background-color: white;
}

.eyeIcon {
  padding: 5px;
  color: black;
}

.checkbox {
  margin: 0 auto;
}

.btnSubmitNoTrollContainer {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 50px;
}

.btnSubmit {
  border: 1px solid black;
  border-radius: 0.5rem;
  width: 100px;
  height: 30px;
}

.btnSubmitContainer {
  text-align: center;
  transition: 1s;
}

.btnSubmitTroll {
  border: 1px solid black;
  width: 100px;
  height: 30px;
  transition: 1s;
  border-radius: 0.5rem;
}

.btnSubmitContainer:hover .btnSubmitTroll {
  transform: translateX(200px);
}
